

.container {
    width: 80%;
    margin: 0 auto;
    background-image: url("../images/background.png");
    background-repeat: repeat;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

header, footer {
    background-color: #23b6eb;
}

header h1 {
    padding-left: 12px;
    padding-top: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.banner-image, .banner-image>img {
    width: 100%;
    height: 380px;
}

main {
    padding: 10px;
    color: #333;
}

.summary-item {
    display: inline-block;
    width: 30%;
    padding: 1%;
}

.summary-thumbnail img {
    width: 100%;
    height: 200px;
}

footer {
    height: 60px;
    text-align: center;
    color: #fff;
}

footer p {
    padding-top: 20px;
}
